h1 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
}

p {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: max-content;
}

body {
  margin: 5px;
  padding: 0px;
  overflow-x: hidden;
}

.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  max-width: 100%;
  flex-grow: 1;
  border-radius: 0.7rem;
  height: min-content;
  box-shadow: #888888 0 0 3px;
}

.card > * {
  height: min-content;
  padding: 0;
  margin: 0.5rem;
  text-align: center;
}

@media screen and (min-height: 700px) {
  .card > * {
    margin: 0.7rem;
  }
}

#info {
  text-align: center;
}

hr {
  border: 0.5px black solid;
  height: 0px;
  box-shadow: #888888 0 0 3px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(30, 30, 30);
  }
  p,
  h2,
  h1 {
    color: white;
  }
  .card {
    border-color: white;
  }
  hr {
    border-color: white;
  }
}
