<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}" />
    <title>Дни рождений 8Г</title>
  </head>
  <body>
    <h1>Дни рождений 8Г</h1>
    <div id="cards">
      {% for name, date in a %}
      <div class="card">
        <h2>{{name}}</h2>
        {% if date == ""%}
        <p>Нет информации</p>
        {% else %}
        <p>{{date}}</p>
        {% endif %}
      </div>
      {%endfor%}
    </div>
    <p id="info">Герман Иванов ⎜ Ленивый Тукаи</p>
  </body>
</html>
